In [2]:
import pandas as pd

import numpy as np

In [5]:
data = pd.read_csv("Files/HR RAW DATA.csv",index_col = 0)

data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",...,20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",...,33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",...,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,...,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,...,19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,1,"967,0",...,16,NaN,3,7,"10325,0",1987,1000000000$,NaN,NaN,0
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,1,"972,0",...,9,NaN,0,8,"4447,0",1978,1000000000$,NaN,NaN,1
1611,39,No,travel_rarely,"903,0$",NaN,-13,5,NaN,1,NaN,...,8,NaN,0,7,NaN,1984,1000000000$,NaN,NaN,Yes
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,1,"990,0",...,7,NaN,0,7,NaN,1987,1000000000$,NaN,NaN,True
1613,46,No,NaN,"566,0$",NaN,7,2,Medical,1,NaN,...,8,NaN,0,7,"10845,0",1977,1000000000$,NaN,NaN,0

In [11]:
total_ficheros=["Files/1_8.csv","Files/8_15.csv","Files/16_23.csv", "Files/24_32.csv", "Files/33_41.csv"]

In [21]:
df_completo = pd.concat([pd.read_csv(archivo) for archivo in total_ficheros], ignore_index=False)

In [22]:
df_completo

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,age,...,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,DateBirth,RemoteWork
0,0.0,51.0,No,NaN,684.0,NaN,6.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,52.0,No,NaN,699.0,NaN,1.0,4.0,life sciences,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,42.0,No,travel_rarely,532.0,research & development,4.0,2.0,technical degree,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,47.0,No,travel_rarely,359.0,NaN,2.0,4.0,medical,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,46.0,No,NaN,1319.0,NaN,3.0,3.0,technical degree,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,1609.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,7.0,1987.0,no
1610,1610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,8.0,1978.0,yes
1611,1611.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7.0,1984.0,yes
1612,1612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7.0,1987.0,yes
1613,1613.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7.0,1977.0,no

In [23]:
df_completo.tail()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,age,...,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,DateBirth,RemoteWork
1609,1609.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,7.0,1987.0,no
1610,1610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,8.0,1978.0,yes
1611,1611.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7.0,1984.0,yes
1612,1612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7.0,1987.0,yes
1613,1613.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7.0,1977.0,no

In [12]:
data_total=[]
for archivo in total_ficheros:
    df = pd.read_csv(archivo)
    data_total.append(df)

In [14]:
total_archivo=pd.DataFrame(data_total)

/home/lauragenesis/anaconda3/lib/python3.9/site-packages/pandas/core/internals/construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [15]:
total_archivo

                                                   0
0        Unnamed: 0  Age Attrition BusinessTravel...
1       age attrition businesstravel dailyrate   ...
2        Unnamed: 0 MaritalStatus  MonthlyIncome ...
3        Unnamed: 0  relationshipsatisfaction  st...
4        Unnamed: 0  YearsSinceLastPromotion  YEA...

In [4]:
#Leemos todos los archivos limpiados 

tabla_total = pd.read_csv()

ValueError: Invalid file path or buffer object type: <class 'list'>

In [ ]:
#Unimos con el concant quitando los indices
tabla_total = pd.concat([], axis=1, ignore_index = True)

In [ ]:
#Cambiamos las columnas de todas 
tabla_total.columns = [columna.Capita() for columna in columnas]
print(data.columns)